@charset 'UTF-8';

@media screen and (min-width: 768px) {
  
    #login {
        width: 80vw;
    }

    #login>#imagem {
        float: left;
        width: 54%;
        height: 430px;

    }

    #conteiner-formulario {
        float: right;
        width: 46%;
        padding: 10px;


    }
}

@media screen and (min-width: 992px) {
   
    #login {
        width: 980px;
    }

    #login>#imagem {
        float: right;
        width: 54%;
        height: 430px;
    }

    #conteiner-formulario {
        float: left;
        width: 46%;
        padding: 10px;

    }

}