@charset 'UTF-8';

@media screen and (min-width: 768px) {

    #login {
        width: 80vw;
    }

    #login>#imagem {
        float: left;
        width: 54%;
        height: 450px;
        border-radius: 10px 10px;

    }

    #conteiner-formulario {
        float: right;
        width: 46%;
        padding: 10px;


    }
}

@media screen and (min-width: 992px) {

    #login {
        width: 910px;
    }

    #login>#imagem {
        float: right;
        width: 54%;
        height: 460px;
        border-radius: 10px 10px;
    }

    #conteiner-formulario {
        float: left;
        width: 46%;
        padding: 10px;

    }

}