@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/*
    Paletas de cores:
    laranja: #FF6600;
    azul-marinho: #2F2840;
    cinza: #C4C4C4;

*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sansation";

}


html,
body {
    background-color: #c4c4c4;
    height: 100vh;
    width: 100vw;
}

#login>#imagem {
    background: #c4c4c4 url(../img/img-inicial.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius:  10px 10px 0 0;
    height: 190px;
}

#login {
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    border-radius: 25px;
    transform: translate(-50%, -50%);

    width: 350px;
    max-height: 600px;
    background-color: #2f2840;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

form {
    padding: 12px;
}

#conteiner-formulario>h1 {
    color: #ff6600;
    text-align: center;
    font-size: 3.9em;
    padding: 8px;
    margin-top: 10px;
}

#conteiner-formulario>p {
    color: rgb(255, 255, 255);
    padding: 3px;
    text-align: center;
    font-size: .9em;
    font-weight: 300;

}

.cx-entrada {
    margin-bottom: 2px;

}


.cx-entrada>input {
    width: 100%;
    outline: none;
    padding: 15px;
    margin: 6px 0;
    border: hidden;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);

}

.cx-button {
    margin-top: 25px;

}

.button {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 45px;
    font-weight: 800;
    background-color: #ff6600;
    border: hidden;
    border-radius: 10px;
    letter-spacing: 1px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
}

.button:hover {
    background-color: #ff7e28;
}

label {
    margin: 15px 0;
    font-size: small;
    color: white;
}